
*.dll
*.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.pdb
.vs/Crystal.WebUI/v16/.suo
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.pdb
*.pdb
*.pdb
*.cache
*.editorconfig
*.txt
*.json
*.xml
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Puesto/Index.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Puesto/Delete.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Empleado/Index.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Puesto/Edit.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Empleado/Edit.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Empleado/Delete.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Departamento/Update.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Departamento/Delete.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Empleado/Create.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Departamento/Create.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Departamento/Index.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
Crystal.WebUI/obj/Debug/net5.0/Crystal.WebUI.RazorTargetAssemblyInfo.cs
Crystal.WebUI/obj/Debug/net5.0/Crystal.WebUI.MvcApplicationPartsAssemblyInfo.cs
Crystal.WebUI/obj/Debug/net5.0/Crystal.WebUI.RazorAssemblyInfo.cs
Crystal.WebUI/obj/Debug/net5.0/apphost.exe
Crystal.WebUI/Extensions/ExtensionToDependencyInjection.cs
Crystal.WebUI/obj/Crystal.WebUI.csproj.nuget.g.props
Crystal.WebUI/obj/Crystal.WebUI.csproj.nuget.g.targets
Crystal.WebUI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Crystal.WebUI/obj/Debug/net5.0/Crystal.WebUI.AssemblyInfo.cs
Crystal.WebUI/obj/Debug/net5.0/Crystal.WebUI.csproj.CopyComplete
Crystal.WebUI/obj/Debug/net5.0/Razor/Views/Puesto/Create.cshtml.g.cs
Crystal.WebUI/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
Crystal.WebUI/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
Crystal.WebUI/bin/Debug/net5.0/Crystal.WebUI.exe
Crystal.Domain/obj/project.nuget.cache
Crystal.Domain/obj/project.assets.json
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.pdb
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.genruntimeconfig.cache
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.GeneratedMSBuildEditorConfig.editorconfig
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.dll
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.csproj.FileListAbsolute.txt
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.csproj.CoreCompileInputs.cache
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.csproj.AssemblyReference.cache
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.assets.cache
Crystal.Domain/obj/Crystal.Domain.csproj.nuget.g.props
Crystal.Domain/obj/Crystal.Domain.csproj.nuget.dgspec.json
Crystal.Domain/bin/Debug/net5.0/Crystal.Domain.runtimeconfig.dev.json
Crystal.Domain/bin/Debug/net5.0/Crystal.Domain.pdb
Crystal.Domain/bin/Debug/net5.0/Crystal.Domain.dll
Crystal.Data/obj/project.nuget.cache
Crystal.Data/obj/project.assets.json
Crystal.Data/obj/Debug/net5.0/Crystal.Data.pdb
Crystal.Data/obj/Debug/net5.0/Crystal.Data.genruntimeconfig.cache
Crystal.Data/obj/Debug/net5.0/Crystal.Data.GeneratedMSBuildEditorConfig.editorconfig
Crystal.Data/obj/Debug/net5.0/Crystal.Data.dll
Crystal.Data/obj/Debug/net5.0/Crystal.Data.csproj.FileListAbsolute.txt
Crystal.Data/obj/Debug/net5.0/Crystal.Data.csproj.CoreCompileInputs.cache
Crystal.Data/obj/Debug/net5.0/Crystal.Data.csproj.CopyComplete
Crystal.Data/obj/Debug/net5.0/Crystal.Data.csproj.AssemblyReference.cache
Crystal.Data/obj/Debug/net5.0/Crystal.Data.assets.cache
Crystal.Data/obj/Crystal.Data.csproj.nuget.g.props
Crystal.Data/obj/Crystal.Data.csproj.nuget.dgspec.json
Crystal.Data/bin/Debug/net5.0/Crystal.Domain.pdb
Crystal.Data/bin/Debug/net5.0/Crystal.Domain.dll
Crystal.Data/bin/Debug/net5.0/Crystal.Data.runtimeconfig.dev.json
Crystal.Data/bin/Debug/net5.0/Crystal.Data.pdb
Crystal.Data/bin/Debug/net5.0/Crystal.Data.dll
Crystal.AppService/obj/project.nuget.cache
Crystal.AppService/obj/project.assets.json
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.pdb
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.genruntimeconfig.cache
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.GeneratedMSBuildEditorConfig.editorconfig
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.dll
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.csproj.FileListAbsolute.txt
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.csproj.CoreCompileInputs.cache
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.csproj.CopyComplete
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.csproj.AssemblyReference.cache
Crystal.AppService/obj/Debug/net5.0/Crystal.AppService.assets.cache
Crystal.AppService/obj/Crystal.AppService.csproj.nuget.g.props
Crystal.AppService/obj/Crystal.AppService.csproj.nuget.dgspec.json
Crystal.AppService/bin/Debug/net5.0/Crystal.Domain.pdb
Crystal.AppService/bin/Debug/net5.0/Crystal.Domain.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.Data.pdb
Crystal.AppService/bin/Debug/net5.0/Crystal.Data.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.runtimeconfig.dev.json
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.pdb
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.dll
Crystal.Domain/obj/project.nuget.cache
Crystal.Domain/obj/project.assets.json
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.pdb
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.genruntimeconfig.cache
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.GeneratedMSBuildEditorConfig.editorconfig
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.dll
Crystal.Domain/obj/Debug/net5.0/Crystal.Domain.csproj.FileListAbsolute.txt
.vs/Crystal.WebUI/config/applicationhost.config
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.pdb
Crystal.AppService/bin/Debug/net5.0/Crystal.AppService.runtimeconfig.dev.json
Crystal.AppService/bin/Debug/net5.0/Crystal.Data.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.Data.pdb
Crystal.AppService/bin/Debug/net5.0/Crystal.Domain.dll
Crystal.AppService/bin/Debug/net5.0/Crystal.Domain.pdb
